<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Procesador: </ion-label>
    <ion-input [(ngModel)]="document.data.procesador" ></ion-input>
    
  </ion-item>

  <ion-item>
    <ion-label>Fecha de Salida: </ion-label>
    <ion-input [(ngModel)]="document.data.fecha"> </ion-input>
    <!-- <IonDatetime displayFormat="YYYY-MM-DD" ></IonDatetime> -->
  </ion-item>

  <ion-item>
    <ion-label>Generacion: </ion-label>
    <ion-input [(ngModel)]="document.data.generacion"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nucleos: </ion-label>
    <ion-input [(ngModel)]="document.data.nucleos"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Hilos: </ion-label>
    <ion-input [(ngModel)]="document.data.hilos"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hercios: </ion-label>
    <ion-input [(ngModel)]="document.data.hercios"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio en €: </ion-label>
    <ion-input [(ngModel)]="document.data.precio"> </ion-input>
  </ion-item>
  
  
  <br>
  <!-- <ion-button *ngIf="id != 'nuevo'" (click)="clicBotonModificar()">Modificar producto</ion-button> -->
  <!-- <ion-button *ngIf="id != 'nuevo'" (click)="guardarDatos()">Guardar imagen en BD</ion-button> -->
  

  <!-- <ion-button *ngIf="id == 'nuevo'"(click)="clickBotonInsertar()">Guardar</ion-button> -->
  <ion-button (click)="guardarDatos()">Guardar</ion-button>
  
  <ion-button (click)="seleccionarImagen()">Seleccionar imagen</ion-button>
  <br>
    <ion-button (click)="borrarImagen()">Borrar imagen</ion-button>
    <ion-button style="right: 40px;" *ngIf="id != 'nuevo'" (click)="presentAlertConfirm()">Eliminar producto</ion-button>
    <br>
    <ion-button style="position: fixed; bottom: 40px; right: 40px;" (click)="clicVolver()">Volver atras</ion-button>
    <ion-button (click)="compartir()">Compartir</ion-button>
<p>Imagen:</p>
<img src="{{imagenTempSrc}}">
  
</ion-content>
