<ion-header>
  <ion-toolbar>
    <ion-label id="titulo1">Informacion</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <h1 id="titulo2">Información</h1>
  <br>
  <h2 id="titulo3">Página Desarrollada Por: David Rodríguez Cabrera</h2>
  <br>
  <br>
<ion-item id="botonItem" style="margin: auto;">
  <ion-label id="label">Contacto: </ion-label>
  <ion-button (click)="telefono()" id="botonLlamar"><ion-icon name="call" slot="start"></ion-icon>Llamar</ion-button>
</ion-item>
<br>
<div id="mapId" style="width:600px; height:600px; margin: auto;"></div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="informacion">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Informacion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>