#titulo1 {
    //color: purple;
    font-size: 30px;
  }
  #titulo2 {
    //color: purple;
    font-size: 20px;

  }
  #label{
    font-size: 20px;
  }
#botonLlamar {
  --background:white;
  --color:#15A0F5;
  text-transform: none;
  height: 80%;
  width: 60%;
  --background-hover:black;
  --border-radius:50px;
  font-size: 20px;
}
#botonItem {
  max-width: 300px;
  --min-height: 100px;
}

.leaflet-routing-containerleaflet-barleaflet-routing-collapsibleleaflet-control{
  display: none;
}
