<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Procesadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-button (click)="clickBotonInsertar()">Añadir tarea</ion-button> -->
  <ion-fab-button href="detalle/nuevo">Añadir</ion-fab-button>
  <!-- <ion-button (click)="clicBotonBorrar()">Eliminar tarea</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button> -->
  <h1>LISTA DE PROCESADORES</h1>
  <ion-list>
    <!-- <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)"> -->
      <!-- <ion-grid>
        <ion-row>
          <ion-col>
          <h3>Procesador: {{documentTarea.data.procesador}}  </h3>
          <p>Núcleos: {{documentTarea.data.nucleos}}</p>
          <p>Hilos: {{documentTarea.data.hilos}}</p>
          <p>Hercios: {{documentTarea.data.hercios}}</p>
          <p>Precio en €: {{documentTarea.data.precio}}€</p>
        </ion-col>
          <ion-col>

          <ion-img style="width: 200px; height: 200px; float: center;" text-align="center"   [src]="documentTarea.data.imagen == undefined ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' : documentTarea.data.imagen">  </ion-img>
        </ion-col>
        </ion-row>
         <ion-row>
          <p>Generación: {{documentTarea.data.generacion}}</p>
          
        </ion-row>
        <ion-row>
          <p>Fecha de Salida: {{documentTarea.data.fecha}}</p>
        </ion-row> 
        
      <ion-row>
        <ion-img style="width: 80px; height: 80px;"  [src]="documentTarea.data.imagen == undefined ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' : documentTarea.data.imagen"> Imagen:  </ion-img>
      </ion-row>
      </ion-grid> -->
      <ion-card *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
        <img style="width: 80px; height: 80px;"  [src]="documentTarea.data.imagen == undefined ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' : documentTarea.data.imagen">
        <ion-card-header>
          <ion-card-subtitle>{{documentTarea.data.precio}}</ion-card-subtitle>
          <ion-card-title>{{documentTarea.data.procesador}}</ion-card-title>
        </ion-card-header>
        
      </ion-card>
    <!-- </ion-item> -->
  </ion-list>
  
</ion-content>
